<html lang='en'>/
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/css/owl.carousel.css' />
    <link rel='stylesheet' href='/css/owl.theme.default.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <!-- MAIN CSS -->
    <link rel='stylesheet' href='/css/loginform.css' />
    <title>loginform</title>
  </head>
  <body>
    <h1 class='header'>Login!</h1>

    <form action='/user/login' class='register' method='post'>
      <div class='container'>
        <label for='email'><b>Email Address</b></label>
        <input type='text' placeholder='Enter Email' name='email' required />
        {{!  }}
        <label for='password'><b>Password</b></label>
        <input
          type='password'
          placeholder='Enter Password'
          name='password'
          required
        />

        <button type='submit'>Login</button>
      </div>
    </form>
    <h3>Don't have an account? Please Register now!</h3>
    <button><a href='/user/register'>Register</a></button>

  </body>
</html>